
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Обнуление стилей */

.app {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: grid;
  grid-template: minmax(120px, auto) 1fr minmax(100px, auto) / 1fr;
  grid-template-areas:"Header"
                      "Main"
                      "Footer";
}

.header {
  background-color: RGB(244,243,241);
  display: grid;
  grid-template: 1fr / 1fr 1200px 1fr;
  grid-area: Header;
}

.header__logo {
  grid-column: 2 / 3;
}

.users {
  grid-area: Main;
  display: grid;
  grid-template: 1fr / 1fr 300px 900px 1fr;
}

.user__body{
  position: relative;
  grid-column: 2 / 3;
}

.user__name{
  background-color: fff#;
  color: #333;
  padding: 26px 40px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  transition: all 0.25s ease;  
}

.active.user__name {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
}

.user__name:hover {
  box-shadow: 0px 4px 7px rgba(0,0,0,0.07);
}

.active.user__name:hover {
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
}

.user__information {
  padding: 40px 0 0 0;
}

.user__information div {
  font-size: 16px;
  margin: 0px 0px 30px 0px;
  font-weight: 300;
}

.user__information div span {
  font-weight: 400;
}

/* Бургер */

.bread-crumbs {
  top: 20px;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgb(255, 255, 255);
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: black;
  width: 100px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  font-family: 'Roboto', sans-serif;
  grid-column: 2 / 3;
  position: relative;
  transition: all 0.25s ease;  
}


.bread-crumbs:after {
  content: "";  
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid rgb(255, 255, 255);
  position: absolute;
  right: -30px;
  bottom: 0;
  z-index: 1;
}

.active.bread-crumbs span {
  display: block;
  transform: rotate(-180deg);
}

.active.bread-crumbs {
  background: rgb(152, 151, 165);
  transform: rotate(180deg);
  left: 30px;
  transition: all 0.25s ease;  
}

.active.bread-crumbs:after {
  border-left: 30px solid  rgb(152, 151, 165);
}

.bread-crumbs:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Бургер */

/* Альбомы */

.user__albums {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  border-left: 1px solid rgb(236, 236, 245);
  border-right: 1px solid rgb(236, 236, 245);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  grid-column: 3 / 4;
}

.user__album {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.user__albums_title {
  padding: 20px;
  border: 1px solid rgb(236, 236, 245);
  width: 350px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.user__albums_title:hover {
  font-size: 15px;
  transition: all 0.7s ease;
  box-shadow: 0px 4px 7px rgba(0,0,0,0.07); 
}

/* Альбомы */

/* Footer */

.footer {
  grid-area: Footer;
  background-color: RGB(244,243,241);
}

.footer__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 100px;
}

/* Footer */